backports.zoneinfo==0.2.1;python_version<"3.9"
j2cli[yaml]==0.3.10
ipython==8.10.0
pytest>=4.2.0,<=5.3.5
pytest-sugar==0.9.4
pytest-html==3.1.1
pytest-cov==2.11.1
pytest-csv==2.0.2
autopep8==1.5.7
flake8==3.9.2
pyflakes==2.3.1
pytest-flake8==1.0.7
pytest-randomly>=3.8.0
pytest-icdiff==0.5
pytest-xdist==1.29.0
pytest-gitignore==1.3
pytest-rerunfailures==4.1.0
pytest-reportportal==1.0.9
reportportal-client==3.2.3
#python-language-server[all]
#pyls
