include calm/dsl/builtins/models/schemas/*.yaml.jinja2
include calm/dsl/config/config.ini.jinja2
include calm/dsl/init/blueprint/*.py.jinja2
include calm/dsl/init/blueprint/scripts/*.sh
recursive-include calm/dsl/providers/plugins *
include calm/dsl/decompile/schemas/*.yaml.jinja2
