{% macro Blueprint() -%}

title: Blueprint
type: object
x-calm-dsl-type: blueprint
properties:
  services:
    description: Service definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Service'
  substrates:
    description: Substrate definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Substrate'
  profiles:
    description: App profile definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Profile'

{%- endmacro %}


{% macro BlueprintSchema() -%}

Blueprint:
  {{ Blueprint()|indent(2) }}

{%- endmacro %}
