{% import "port.yaml.jinja2" as port %}
{% import "service.yaml.jinja2" as service %}
{% import "deployment.yaml.jinja2" as deployment %}
{% import "profile.yaml.jinja2" as profile %}
{% import "blueprint.yaml.jinja2" as blueprint %}

{% macro Schemas() -%}

{{ port.PortSchema() }}
{{ service.ServiceSchema() }}
{{ deployment.DeploymentSchema() }}
{{ profile.ProfileSchema() }}
{{ blueprint.BlueprintSchema() }}

{%- endmacro %}


info:
  title: Calm DSL models

components:
  schemas:
    {{ Schemas()|indent(4) }}
