
{% macro azureVaultCertificate() -%}

title: Azure Vault Certificate
type: object
properties:
  certificate_url:
    type: string
  certificate_store:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro azureSecrets() -%}

title: Azure Secrets
type: object
properties:
  source_vault_id:
    type: string
  type:
    type: string
  vault_certificates:
    type: array
    items:
      {{ azureVaultCertificate() | indent(6) }}

{%- endmacro %}


{% macro azureLinuxOSConfig() -%}

title: Azure Linux OS Configuration
type: [object, "null"]
properties:
  custom_data:
    type: string
  disable_password_auth:
    type: boolean
    default: False
  public_keys:
    type: array
    items:
      type: string
  type:
    type: string

{%- endmacro %}


{% macro azureWinRMListener() -%}

title: Azure Window RM Listener
type: object
properties:
  protocol:
    type: string
  certificate_url:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro azureAdditionalUnattendContent() -%}

title: Azure Additional Unattend Content
type: object
properties:
  setting_name:
    type: string
  xml_content:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro azureWindowsOSConfig() -%}

title: Azure Windows OS Configuration
type: [object, "null"]
properties:
  winrm_listeners:
    type: array
    items:
      {{ azureWinRMListener() | indent(6) }}
  time_zone:
    type: string
  additional_unattend_content:
    type: array
    items:
      {{ azureAdditionalUnattendContent() | indent(6) }}
  provision_vm_agent:
    type: boolean
    default: True
  auto_updates:
    type: boolean
    default: False
  type:
    type: string

{%- endmacro %}


{% macro azureOSProfile() -%}

title: AZURE OS Profile
type: object
properties:
  windows_config:
    {{ azureWindowsOSConfig() | indent(4) }}
  linux_config:
    {{ azureLinuxOSConfig() | indent(4) }}
  secrets:
    type: array
    items:
      {{ azureSecrets() | indent(6) }}
  type:
    type: string

{%- endmacro %}


{% macro azureDisk() -%}

title: AZURE Disk
type: object
properties:
  name:
    type: string
  storage_name:
    type: string
  storage_type:
    type: string
  caching_type:
    type: string
  create_option:
    type: string
    default: Empty
  size_in_gb:
    type: integer
    minimum: 1
  lun:
    type: integer
    minimum: 0
  type:
    type: string

{%- endmacro %}


{% macro azureOSDisk() -%}

title: AZURE OS Disk
type: object
properties:
  name:
    type: string
  storage_name:
    type: string
  storage_type:
    type: string
  caching_type:
    type: string
  create_option:
    type: string
  size_in_gb:
    type: integer
    default: -1
  lun:
    type: integer
    default: -1
  type:
    type: string

{%- endmacro %}


{% macro azureVMImage() -%}

title: AZURE VM Image
type: object
properties:
  sku:
    type: string
  publisher:
    type: string
  offer:
    type: string
  source_image_id:
    type: string
  use_custom_image:
    type: boolean
  version:
    type: string
  type:
    type: string
  source_image_type:
    type: string

{%- endmacro %}


{% macro azureStorageProfile() -%}

title: AZURE Storage Profile
type: object
properties:
  is_managed:
    type: boolean
  data_disk_list:
    type: array
    items:
      {{ azureDisk() | indent(6) }}
  type:
    type: string
  os_disk_details:
    {{ azureOSDisk() | indent(4) }}
  image_details:
    {{ azureVMImage() | indent(4) }}

{%- endmacro %}


{% macro azurePrivateIpInfo() -%}

title: Azure Private Ip Information
type: object
properties:
  ip_allocation_method:
    type: string
  ip_address:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro azurePublicIpInfo() -%}

title: Azure Public Ip Information
type: [object, "null"]
properties:
  ip_allocation_method:
    type: string
  ip_name:
    type: string
  dns_label:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro azureNIC() -%}

title: Azure NIC
type: object
properties:
  nic_name:
    type: string
  vnet_name:
    type: string
  nsg_name:
    type: string
  subnet_name:
    type: string
  vnet_id:
    type: string
  nsg_id:
    type: string
  subnet_id:
    type: string
  private_ip_info:
    {{ azurePrivateIpInfo() | indent(4) }}
  public_ip_info:
    {{ azurePublicIpInfo() | indent(4) }}
  type:
    type: string

{%- endmacro %}


{% macro azureNWProfile() -%}

title: Azure NW Profile
type: object
properties:
  nic_list:
    type: array
    items:
      {{ azureNIC() | indent(6)}}
  type:
    type: string
  primary_nic:
    type: integer
    default: -1

{%- endmacro %}


{% macro azureHWProfile() -%}

title: Azure HW Profile
type: object
properties:
  vm_size:
    type: string
  max_data_disk_count:
    type: integer
  type:
    type: string

{%- endmacro %}


{% macro azureTag() -%}

title: Azure Tag
type: object
properties:
  key:
    type: string
  value:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro azureResources() -%}

title: AZURE Resources
type: object
properties:
  vm_name:
    type: string
  resource_group:
    type: string
  rg_details:
    {{ azureRgDetails() | indent(4) }}
  rg_operation:
    type: string
  availability_set_id:
    type: string
  account_uuid:
    type: string
  type:
    type: string
  location:
    type: string
  tag_list:
    type: array
    items:
      {{ azureTag() | indent(6) }}
  hw_profile:
    {{ azureHWProfile() | indent(4) }}
  storage_profile:
    {{ azureStorageProfile() | indent(4) }}
  os_profile:
    {{ azureOSProfile() | indent(4) }}
  nw_profile:
    {{ azureNWProfile() | indent(4) }}

{%- endmacro %}


{% macro azureCreateSpec() -%}

title: AZURE CreateSpec
type: object
properties:
  name:
    type: string
  type:
    type: string
    enum: [PROVISION_AZURE_VM, '']
    default: PROVISION_AZURE_VM
  resources:
    {{ azureResources() | indent(4) }}

{%- endmacro %}

{% macro azureRgDetails() -%}

title: AZURE Resource group details
type: object
properties:
  delete_rg_if_empty:
    type: boolean
  rg_location:
    type: string
  rg_tag_list:
    type: array
  type:
    type: string
{%- endmacro %}


info:
  title: AZURE_VM
  description: AZURE VM spec payload using v3 API
  version: 3.0.1

components:
  schemas:
    provider_spec:
      {{ azureCreateSpec() | indent(6) }}
