{%- macro action(obj) -%}
@action
def {{obj.name}}({% if obj.display_name -%}display_name="{{obj.display_name}}"{%- endif %}):
    {% if obj.description -%}"""{{obj.description}}"""{%- endif %}
{% if obj.variables or obj.tasks %}
{%- for variable in obj.variables %}
{{variable | indent( width=4, indentfirst=True)}}
{%- endfor %}
{%- for task in obj.tasks %}
{{task | indent( width=4, indentfirst=True)}}
{%- endfor %}
{% else %}
    pass
{% endif %}
{%- endmacro %}

{{action(obj)}}
