{%- macro ahv_direct_tap_nic(obj) -%}
AhvVmNic.DirectNic.tap("{{obj.subnet_name}}" {%- if obj.cluster_name %}, cluster="{{obj.cluster_name}}"{%- elif obj.vpc_name %}, vpc="{{obj.vpc_name}}"{%- endif %})
{% endmacro %}

{{ ahv_direct_tap_nic(obj) }}
