{% macro dsl_val(v) %}{% if v is string and "@@{" in v %}"{{v}}"{% else %}{{v}}{% endif %}{% endmacro %}
{% macro ahv_vm(obj) %}
{{obj.resources}}


class {{obj.name}}(AhvVm):

    {% if obj.gui_display_name %}name="{{obj.gui_display_name}}"{% endif %}
    resources = {{obj.resources_cls_name}}
    {% if obj.cluster_macro %}cluster = "{{obj.cluster_macro}}"
    {% elif obj.cluster_name %}cluster = Ref.Cluster(name="{{obj.cluster_name}}"){% endif %}
    {% if obj.categories %}categories = {{dsl_val(obj.categories)|trim}}{% endif %}
{% endmacro %}

{{ ahv_vm(obj) }}
