{%- macro ahv_direct_ingress_nic(obj) -%}
AhvVmNic.DirectNic.ingress("{{obj.subnet_name}}" {%- if obj.cluster_name %}, cluster="{{obj.cluster_name}}"{%- elif obj.vpc_name %}, vpc="{{obj.vpc_name}}"{%- endif %} {%- if obj.ip_endpoint_list %}, ip_endpoints={{obj.ip_endpoint_list}}{%- endif %})
{% endmacro %}

{{ ahv_direct_ingress_nic(obj) }}
