{%- macro ahv_vm_disk_pci_clone_from_image(obj) -%}
{% if obj.bootable and obj.size %}
AhvVmDisk.Disk.Pci.cloneFromImageService("{{obj.name}}", bootable=True, disk_size_mib={{obj.size}})
{% elif obj.bootable %}
AhvVmDisk.Disk.Pci.cloneFromImageService("{{obj.name}}", bootable=True)
{% elif obj.size %}
AhvVmDisk.Disk.Pci.cloneFromImageService("{{obj.name}}", disk_size_mib={{obj.size}})
{% else %}
AhvVmDisk.Disk.Pci.cloneFromImageService("{{obj.name}}")
{% endif %}
{% endmacro %}

{{ ahv_vm_disk_pci_clone_from_image(obj) }}
