{%- macro dsl_val(v) -%}{% if v is string and "@@{" in v %}"{{v}}"{% else %}{{v}}{% endif %}{%- endmacro -%}
{%- macro ahv_vm_disk_pci_allocate_storage(obj) -%}
AhvVmDisk.Disk.Pci.allocateOnStorageContainer({{ dsl_val(obj.size) }})
{% endmacro %}

{{ ahv_vm_disk_pci_allocate_storage(obj) }}
