{%- macro ahv_vm_disk_pci_clone_from_img_pkg(obj) -%}
{% if obj.bootable %}
AhvVmDisk.Disk.Pci.cloneFromVMDiskPackage({{obj.name}}, bootable=True)
{% else %}
AhvVmDisk.Disk.Pci.cloneFromVMDiskPackage({{obj.name}})
{% endif %}
{% endmacro %}

{{ ahv_vm_disk_pci_clone_from_img_pkg(obj) }}
