{% macro cred(obj) %}
{% if obj.default %}
{{obj.var_name}} = basic_cred('{{obj.username}}', {{obj.value}}, name='{{obj.name}}', type='{{obj.type}}', default=True, {% if obj.editables %}editables = {{obj.editables}}{%- endif %})
{% else %}
{{obj.var_name}} = basic_cred('{{obj.username}}', {{obj.value}}, name='{{obj.name}}', type='{{obj.type}}', {% if obj.editables %}editables = {{obj.editables}}{%- endif %})
{% endif %}
{% endmacro %}

{{ cred(obj) }}
