{% macro bp_file_helper(obj) %}
"""
    Calm Sample Blueprint
"""

import json

from calm.dsl.builtins import (
    ref,
    basic_cred,
    secret_cred,
    CalmVariable,
    CalmTask,
    action,
    parallel
)
from calm.dsl.builtins import Service, Package, Substrate
from calm.dsl.builtins import Deployment, Profile, Blueprint
from calm.dsl.builtins import read_provider_spec, read_local_file, read_file, vm_disk_package
from calm.dsl.builtins import read_ahv_spec, read_vmw_spec


{%- for var_file in obj.secret_files %}
{{var_file}} = read_local_file('{{var_file}}')
{%- endfor %}

{%- for cred in obj.credentials %}
{{cred}}
{%- endfor %}
{% for vm_image in obj.vm_images %}
{{vm_image}}
{% endfor %}
{% for entity in obj.dependent_entities %}
{{entity}}
{% endfor %}
{{obj.blueprint}}

{% endmacro %}

{{bp_file_helper(obj)}}