{% macro cred(obj) %}
{% if obj.default %}
{{obj.var_name}} = basic_cred('{{obj.username}}', {{obj.value}}, name='{{obj.name}}', type='{{obj.type}}', default=True)
{% else %}
{{obj.var_name}} = basic_cred('{{obj.username}}', {{obj.value}}, name='{{obj.name}}', type='{{obj.type}}')
{% endif %}
{% endmacro %}

{{ cred(obj) }}
