{% macro var_dict_obj(var_list) %}
{
{% for var in var_list %}
'{{var.name}}': {% if var.type == "SECRET" %} {{var.value}} {% else %} '{{var.value}}' {% endif %},
{% endfor %}
}
{% endmacro %}

{% macro cred(obj) %}
{% if obj.default %}
{{obj.var_name}} = dynamic_cred('{{obj.username}}', Ref.Account('{{obj.account}}'), {% if obj.resource_type %}resource_type=Ref.Resource_Type('{{obj.resource_type}}'){%- endif %}, variable_dict={{var_dict_obj(obj.variable_list)|indent(2)}}, name='{{obj.name}}', default=True, type='{{obj.type}}', {% if obj.editables %}editables = {{obj.editables}}{%- endif %})
{% else %}
{{obj.var_name}} = dynamic_cred('{{obj.username}}', Ref.Account('{{obj.account}}'), {% if obj.resource_type %}resource_type=Ref.Resource_Type('{{obj.resource_type}}'){%- endif %}, variable_dict={{var_dict_obj(obj.variable_list)|indent(2)}}, name='{{obj.name}}', type='{{obj.type}}', {% if obj.editables %}editables = {{obj.editables}}{%- endif %})
{% endif %}
{% endmacro %}

{{ cred(obj) }}
