{% import "task.py.jinja2" as Task %}
{% import "ref.py.jinja2" as Ref %}
{% import "action.py.jinja2" as Action %}

{% macro entity_handler(macro_name, obj) -%}
{% if macro_name == "exec_ssh_task" %}
{{Task.exec_ssh_task(obj)}}
{% elif macro_name == "exec_powershell_task" %}
{{Task.exec_powershell_task(obj)}}
{% elif macro_name == "action" %}
{{Action.action(obj)}}
{% elif macro_name == "ref" %}
{{Ref.ref(obj)}}
{% endif %}
{%- endmacro %}

{{ entity_handler(macro_name, obj) }}
