{%- macro package(obj) -%}
class {{obj.name}}(Package):
    {% if obj.description -%}"""{{obj.description}}"""{%- endif %}

    {% if obj.gui_display_name %}name="{{obj.gui_display_name}}"{% endif %}
    {% if obj.services %}services=[{{obj.services}}]{%- endif %}
{%- for variable in obj.variables %}
    {{variable}}
{% endfor -%}
{% for action in obj.actions %}
{{action | indent( width=4, indentfirst=True)}}
{% endfor %}
{%- endmacro %}

{{ package(obj) }}
