{%- macro profile(obj) %}
class {{obj.name}}(Profile):
    {% if obj.description %}"""{{obj.description}}"""{% endif %}

    {% if obj.gui_display_name %}name="{{obj.gui_display_name}}"{% endif %}
    {% if obj.environments %}environments = [Ref.Environment(name="{{obj.environments[0]}}")]{% endif %}
    {% if obj.deployments %}deployments = [{{obj.deployments}}]{%- endif %}
    {% if obj.restore_configs %}restore_configs = [{{obj.restore_configs}}]{%- endif %}
    {% if obj.snapshot_configs %}snapshot_configs = [{{obj.snapshot_configs}}]{%- endif %}
{% for variable in obj.variables %}
{{variable | indent( width=4, first=True)}}
{% endfor -%}
{% for action in obj.actions %}
{{action | indent( width=4, first=True)}}
{%- endfor %}
{%- endmacro %}

{{ profile(obj) }}
