{%- macro profile(obj) %}
class {{obj.name}}(Profile):
    {% if obj.description %}"""{{obj.description}}"""{% endif %}

    {% if obj.deployments %}deployments = [{{obj.deployments}}]{%- endif %}
{% for variable in obj.variables %}
{{variable | indent( width=4, indentfirst=True)}}
{% endfor -%}
{% for action in obj.actions %}
{{action | indent( width=4, indentfirst=True)}}
{%- endfor %}
{%- endmacro %}

{{ profile(obj) }}
