{% macro service(obj) -%}
class {{obj.name}}(Service):
    {% if obj.description %}"""{{obj.description}}"""{% endif %}
    {% if obj.dependencies %}dependencies=[{{obj.dependencies}}]{% endif %}
{% for variable in obj.variables %}
{{variable | indent( width=4, indentfirst=True)}}
{% endfor -%}
{% for action in obj.actions %}
{{action | indent( width=4, indentfirst=True)}}
{% endfor %}
{%- endmacro %}

{{ service(obj) }}
