{% macro exec_ssh_task(obj) -%}
{% if obj.cred is not defined and obj.target is not defined %}
CalmTask.Exec.ssh(name={{obj.name}}, script='{{obj.attrs.script}}')
{% elif obj.cred is not defined %}
CalmTask.Exec.ssh(name={{obj.name}}, script='{{obj.attrs.script}}', target={{obj.target}})
{% elif obj.target is not defined %}
CalmTask.Exec.ssh(name={{obj.name}}, script='{{obj.attrs.script}}', cred={{obj.cred}})
{% else %}
CalmTask.Exec.ssh(name={{obj.name}}, script='{{obj.attrs.script}}', cred={{obj.cred}}, target={{obj.target}})
{% endif %}
{%- endmacro %}

{{ exec_ssh_task(obj) }}
