{%- macro delay_task(obj) -%}
{%- if obj.target is not defined %}
CalmTask.Delay(name='{{obj.name}}', delay_seconds={{obj.delay_seconds}})
{%- else %}
CalmTask.Delay(name='{{obj.name}}', delay_seconds={{obj.delay_seconds}}, target={{obj.target}})
{%- endif %}
{%- endmacro %}

{{ delay_task(obj) }}
