{% import "status_handle.py.jinja2" as status_handle %}

{%- macro task_vm_restart(obj) -%}
CalmTask.VMRestart(name='{{obj.name}}', target={{obj.target}} {%- if obj.status_map_list %}, status_map_list=[{%- for status_map in obj.status_map_list %}{%- if status_map.type == "status" %}{{ status_handle.task_status(status_map) }}{% endif %}{%- endfor %}] {%- endif %})
{%- endmacro %}

{{ task_vm_restart(obj) }}
