{%- macro common_details(obj) -%}
name='{{obj.name}}', filename={{obj.attrs.script_file}} {%- if obj.attrs.ip %}, ip='{{obj.attrs.ip}}'{%- endif %} {%- if obj.attrs.port %}, port={{obj.attrs.port}}{%- endif %} {%- if obj.attrs.connection_protocol %}, connection_protocol='{{obj.attrs.connection_protocol}}'{%- endif %}
{%- endmacro %}

{%- macro decision_python_task(obj) -%}
{%- if obj.cred is not defined and obj.target is not defined %}
CalmTask.Decision.python({{ common_details(obj) }})
{%- elif obj.cred is not defined %}
CalmTask.Decision.python({{ common_details(obj) }}, target={{obj.target}})
{%- elif obj.target is not defined %}
CalmTask.Decision.python({{ common_details(obj) }}, cred={{obj.cred}})
{%- else %}
CalmTask.Decision.python({{ common_details(obj) }}, cred={{obj.cred}}, target={{obj.target}})
{%- endif %}
{%- endmacro %}

{{ decision_python_task(obj) }}
