{% macro scaling_scaleout_task(obj) -%}
{% if obj.target is not defined %}
CalmTask.Scaling.scale_out('{{obj.scaling_count}}', name='{{obj.name}}')
{% else %}
CalmTask.Scaling.scale_out('{{obj.scaling_count}}', name='{{obj.name}}', target={{obj.target}})
{% endif %}
{%- endmacro %}

{{ scaling_scaleout_task(obj) }}
