{%- macro tunnel_reference(tunnel_reference) -%}
{%- if tunnel_reference -%}
    {%- set tunnel_kind = tunnel_reference.kind -%}
    {%- if tunnel_kind == "network-group" -%}
        Ref.Tunnel.VPC(name="{{ tunnel_reference.name }}")
    {%- elif tunnel_kind == "tunnel" -%}
        Ref.Tunnel.Account(name="{{ tunnel_reference.name }}")
    {%- else -%}
        Ref.Tunnel(name="{{ tunnel_reference.name }}")
    {%- endif -%}
{%- endif -%}
{%- endmacro %}