{%- macro simple_secret_date_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.Simple.Secret.date('{{obj.value}}', label='{{obj.label}}',regex='{{obj.regex}}', validate_regex={{obj.validate_regex}})
{%- else %}
{{obj.name}} = CalmVariable.Simple.Secret.date('{{obj.value}}', label='{{obj.label}}')
{%- endif %}
{%- endmacro %}

{{ simple_secret_date_var(obj) }}
