{%- macro with_options_predefined_array_datetime_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.WithOptions.Predefined.Array.datetime({{obj.choices}}, label='{{obj.label}}', defaults={{obj.value}}, regex='{{obj.regex}}', validate_regex={{obj.validate_regex}} {%- if not obj.is_global_variable %}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}}{%- endif %}, description='{{obj.description}}')
{%- else %}
{{obj.name}} = CalmVariable.WithOptions.Predefined.Array.datetime({{obj.choices}}, label='{{obj.label}}', defaults={{obj.value}} {%- if not obj.is_global_variable %}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}}{%- endif %}, description='{{obj.description}}')
{%- endif %}
{%- endmacro %}

{{ with_options_predefined_array_datetime_var(obj) }}
