{%- macro simple_time_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.Simple.time('{{obj.value}}', label='{{obj.label}}',regex='{{obj.regex}}', validate_regex={{obj.validate_regex}}, runtime={{obj.runtime}})
{%- else %}
{{obj.name}} = CalmVariable.Simple.time('{{obj.value}}', label='{{obj.label}}', runtime={{obj.runtime}})
{%- endif %}
{%- endmacro %}

{{ simple_time_var(obj) }}
