{%- macro simple_datetime_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.Simple.datetime('{{obj.value}}', label='{{obj.label}}',regex='{{obj.regex}}', validate_regex={{obj.validate_regex}} {%- if not obj.is_global_variable %}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}}{%- endif %}, description='{{obj.description}}')
{%- else %}
{{obj.name}} = CalmVariable.Simple.datetime('{{obj.value}}', label='{{obj.label}}' {%- if not obj.is_global_variable %}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}}{%- endif %}, description='{{obj.description}}')
{%- endif %}
{%- endmacro %}

{{ simple_datetime_var(obj) }}
