{%- macro simple_string_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.Simple('{{obj.value}}', label='{{obj.label}}', regex='{{obj.regex}}', validate_regex={{obj.validate_regex}}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}}, description='{{obj.description}}')
{%- else %}
{{obj.name}} = CalmVariable.Simple('{{obj.value}}', label='{{obj.label}}', is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}}, description='{{obj.description}}')
{%- endif %}
{%- endmacro %}

{{ simple_string_var(obj) }}
