{%- macro with_options_predefined_int_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.WithOptions.Predefined.int({{obj.choices}}, label='{{obj.label}}', regex='{{obj.regex}}', validate_regex={{obj.validate_regex}}, runtime={{obj.runtime}})
{%- else %}
{{obj.name}} = CalmVariable.WithOptions.Predefined.int({{obj.choices}}, label='{{obj.label}}', runtime={{obj.runtime}})
{%- endif %}
{%- endmacro %}

{{ with_options_predefined_int_var(obj) }}
