{%- macro common_details(obj) -%}
{{obj.value}}, label='{{obj.label}}'{%- if not obj.is_global_variable %}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}{%- endif %}, description='{{obj.description}}'{%- if obj.default_value %}, value='{{obj.default_value}}'{%- endif %}
{%- endmacro %}

{%- macro with_options_from_task_int_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.WithOptions.FromTask.int({{ common_details(obj) }}, regex='{{obj.regex}}', validate_regex={{obj.validate_regex}})
{%- else %}
{{obj.name}} = CalmVariable.WithOptions.FromTask.int({{ common_details(obj) }})
{%- endif %}
{%- endmacro %}

{{ with_options_from_task_int_var(obj) }}
