{%- macro with_options_from_task_array_string_var(obj) -%}
{%- if obj.regex %}
{{obj.name}} = CalmVariable.WithOptions.FromTask.Array({{obj.value}}, label='{{obj.label}}', regex='{{obj.regex}}', validate_regex={{obj.validate_regex}}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, description='{{obj.description}}')
{%- else %}
{{obj.name}} = CalmVariable.WithOptions.FromTask.Array({{obj.value}}, label='{{obj.label}}', is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, description='{{obj.description}}')
{%- endif %}
{%- endmacro %}

{{ with_options_from_task_array_string_var(obj) }}
