{%- macro simple_secret_multiline_var(obj) -%}
{%- if obj %}
{{obj.name}} = CalmVariable.Simple.Secret.multiline('{{obj.value}}', label='{{obj.label}}')
{%- endif %}
{%- endmacro %}

{{ simple_secret_multiline_var(obj) }}
