{% macro with_options_predefined_array_string_var(obj) -%}
{% if obj.regex %}
{{obj.name}} = CalmVariable.WithOptions.Predefined.Array({{obj.choices}}, label='{{obj.label}}', default={{obj.value}}, regex='{{obj.regex}}', validate_regex={{obj.validate_regex}}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}})
{% else %}
{{obj.name}} = CalmVariable.WithOptions.Predefined.Array({{obj.choices}}, label='{{obj.label}}', default={{obj.value}}, is_mandatory={{obj.is_mandatory}}, is_hidden={{obj.is_hidden}}, runtime={{obj.runtime}})
{% endif %}
{%- endmacro %}

{{ with_options_predefined_array_string_var(obj) }}
