{% macro ConfigTemplate(ip, port, username, password, project_name, db_location, log_level) -%}

[SERVER]
pc_ip = {{ip}}
pc_port = {{port}}
pc_username = {{username}}
pc_password = {{password}}

[PROJECT]
name = {{project_name}}

[DB]
location = {{db_location}}

[LOG]
level = {{log_level}}

[CATEGORIES]
{%- endmacro %}


{{ConfigTemplate(ip, port, username, password, project_name, db_location, log_level)}}
