{% import "common.yaml.jinja2" as common %}


{% macro action_resources() -%}

title: ActionResources
type: object
properties:

  attrs:
    additionalProperties: true
    description: |
    type: object

  type:
    description: |
    type: string
    maxLength: 64

  runbook:
    properties:
      main_task_reference:
        {{ common.kind_reference("app_task")|indent(8) }}

      task_definition_list:
        type: array
        items:
          $ref: "#/components/schemas/Task"

      variable_list:
        type: array
        items:
          $ref: '#/components/schemas/Variable'

{%- endmacro %}


{% macro Action() -%}

title: Action
type: object
properties:
  metadata:
    {{ common.metadata("app_action")|indent(4) }}
  resources:
    {{ action_resources()|indent(4) }}

{%- endmacro %}


{% macro ActionSchema() -%}

Action:
  {{ Action()|indent(2) }}

{%- endmacro %}
