{% set uuid_pattern = "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$" %}

{% macro any_reference() -%}

title: Reference
type: object
required:
  - kind
properties:
  kind:
    type: string

  name:
    type: string

  uuid:
    type: string
    format: UUID
    pattern: {{ uuid_pattern }}

{%- endmacro -%}


{% macro kind_reference(kind) -%}

title: Reference to a {{kind}}
type: object
properties:
  kind:
    type: string
    readOnly: true
    default: {{kind}}
    x-ntnx-enum:
    - {{kind}}

  name:
    type: string

  uuid:
    type: string
    format: UUID
    pattern: {{ uuid_pattern }}

{%- endmacro -%}


{% macro metadata_properties(kind) -%}

kind:
  type: string
  readOnly: true
  description: The kind name
  default: {{kind}}
  x-ntnx-enum:
    - {{kind}}

uuid:
  description: uuid
  type: string
  format: UUID
  pattern: {{ uuid_pattern }}

name:
  description: name
  type: string
  maxLength: 64

description:
  description: |
  type: string
  maxLength: 1000

creation_time:
  type: string
  format: date-time
  readOnly: true
  description: |
    UTC date and time in RFC-3339 format

last_update_time:
  type: string
  readOnly: true
  format: date-time
  description: |
    UTC date and time in RFC-3339 format

{%- endmacro %}


{% macro metadata(kind) -%}

title: Metadata
type: object
properties:
  {{ metadata_properties(kind)|indent(2) }}

{%- endmacro %}
