{% import "common.yaml.jinja2" as common %}


{% macro credential_editables() -%}

title: CredentialEditables
type: object
properties:
  username:
    description: Flag to indicate if username is editable
    type: boolean
  secret:
    type: boolean
    description: Flag to indicate if secret is editable
  passphrase:
    type: boolean
    description: Flag to indicate if passphrase is editable

{%- endmacro %}


{% macro Secret() -%}

title: Secret
type: object
properties:
  is_secret_modified:
    type: boolean
    description: Flag to indicate if secret value is modified

  value:
    type: string
    format: password

{%- endmacro %}


{% macro credential_resources() -%}

type: object
title: Credential for application
description: Credential for application
properties:
  type:
    type: string
    x-ntnx-enum:
      - PASSWORD
      - KEY

  username:
    type: string

  secret:
    {{ Secret()|indent(4) }}

  passphrase:
    {{ Secret()|indent(4) }}

  editables:
    {{ credential_editables()|indent(4) }}

{%- endmacro %}


{% macro Credential() -%}

title: Credential
type: object
properties:
  metadata:
    {{ common.metadata("app_credential")|indent(4) }}
  resources:
    {{ credential_resources()|indent(4) }}

{%- endmacro %}


{% macro CredentialSchema() -%}

Credential:
  {{ Credential()|indent(2) }}

{%- endmacro %}
