{% import "common.yaml.jinja2" as common %}


{% macro brownfield_instance() -%}

title: BrownfieldInstance
type: object
properties:
  instance_id:
    description: Id of the vm
    type: string
    maxLength: 64

  instance_name:
    description: Name of the vm
    type: string
    maxLength: 64

  address_list:
    description: Address of the vm
    type: array
    items:
      type: string

  platform_data:
    additionalProperties:
      type: string

{%- endmacro %}


{% macro deployment_create_editables() -%}

title: DeploymentCreateEditables
type: object
properties:
  min_replicas:
    type: boolean
    default: false
    description: Flag to indicate if  min_replicas is runtime editable
  max_replicas:
    type: boolean
    default: false
    description: Flag to indicate if max_replicas is runtime editable
  description:
    type: boolean
    default: false
    description: Flag to indicate if description is runtime editable

{%- endmacro %}


{% macro deployment_create_resources() -%}

title: DeploymentCreate
type: object
properties:
  package_reference_list:
    type: array
    items:
      {{ common.kind_reference("app_package")|indent(6) }}

  substrate_local_reference:
    {{ common.kind_reference("app_substrate")|indent(4) }}

  min_replicas:
    description: Minimum replicas for the deployment.
    type: string
    default: "1"

  max_replicas:
    description: Maximum replicas for the deployment.
    type: string
    default: "1"

  editables:
    {{ deployment_create_editables()|indent(4)}}

  brownfield_instance_list:
    description: brownfield map
    type: array
    items:
      {{ brownfield_instance()|indent(6) }}

  type:
    description: |
    type: string
    default: GREENFIELD
    x-ntnx-enum:
      - BROWNFIELD
      - GREENFIELD

{%- endmacro %}


{% macro DeploymentCreate() -%}

title: DeploymentCreate
type: object
properties:
  metadata:
    {{ common.metadata("app_deployment_create")|indent(4) }}
  resources:
    {{ deployment_create_resources()|indent(4) }}

{%- endmacro %}


{% macro DeploymentCreateSchema() -%}

DeploymentCreate:
  {{ DeploymentCreate()|indent(2) }}

{%- endmacro %}
