{% import "common.yaml.jinja2" as common %}
{% import "action.yaml.jinja2" as action %}
{% import "credential.yaml.jinja2" as credential %}
{% import "deployment_create.yaml.jinja2" as deployment_create %}
{% import "package.yaml.jinja2" as package %}
{% import "profile.yaml.jinja2" as profile %}
{% import "service.yaml.jinja2" as service %}
{% import "substrate.yaml.jinja2" as substrate %}
{% import "task.yaml.jinja2" as task %}
{% import "variable.yaml.jinja2" as variable %}
{% import "blueprint.yaml.jinja2" as blueprint %}


{% macro Schemas() -%}

{{ variable.VariableSchema() }}
{{ task.TaskSchema() }}
{{ action.ActionSchema() }}
{{ service.ServiceSchema() }}
{{ package.PackageSchema() }}
{{ substrate.SubstrateSchema() }}
{{ deployment_create.DeploymentCreateSchema() }}
{{ profile.ProfileSchema() }}
{{ credential.CredentialSchema() }}
{{ blueprint.BlueprintSchema() }}

{%- endmacro %}


info:
  title: Calm v3 API schema
  description: Latest stable calm schemas. Later to be obtained from the openapi spec.
  version: 2.6.0

components:
  schemas:
    {{ Schemas()|indent(4) }}
