{% import "common.yaml.jinja2" as common %}


{% macro service_editables() -%}

title: ServiceEditables
type: object
properties:
  port_list:
    type: array
    items:
      type: object
      properties:
        target_port:
          type: boolean
          default: false
        protocol:
          type: boolean
          default: false
        endpoint_name:
          type: boolean
          default: false
  description:
    type: boolean
    default: false

{%- endmacro %}


{% macro service_resources() -%}

title: ServiceResources
type: object
properties:
  port_list:
    description: |
    type: array
    items:
      type: object
      properties:
        target_port:
          description: |
          type: string
        protocol:
          description: |
          type: string
        endpoint_name:
          description: |
          type: string

  depends_on_list:
    description: |
    type: array
    items:
      {{ common.any_reference()|indent(6) }}

  editables:
    {{ service_editables()|indent(4) }}

  variable_list:
    description: |
    type: array
    items:
      $ref: '#/components/schemas/Variable'

  action_list:
    type: array
    items:
      $ref: "#/components/schemas/Action"

{%- endmacro %}


{% macro Service() -%}

title: Service
type: object
properties:
  metadata:
    {{ common.metadata("app_service")|indent(4) }}
  resources:
    {{ service_resources()|indent(4) }}

{%- endmacro %}


{% macro ServiceSchema() -%}

Service:
  {{ Service()|indent(2) }}

{%- endmacro %}
