{% macro Account() -%}

title: Account
type: object
x-calm-dsl-type: account
properties:
  type:
    x-calm-dsl-display-name: provider_type
    type: string
  resource_type:
    type: string
  data:
    type: object
    x-calm-dsl-display-name : spec
    x-calm-dsl-type: account_spec

{%- endmacro %}


{% macro AccountSchema() -%}

Account:
  {{ Account()|indent(2) }}

{%- endmacro %}
