{% macro AccountResource() -%}

title: AccountResource
type: object
x-calm-dsl-type: account_resource
properties:
  type:
    type: string
  data:
    type: object
    x-calm-dsl-type: account_data

{%- endmacro %}


{% macro AccountResourceSchema() -%}

AccountResource:
  {{ AccountResource()|indent(2) }}

{%- endmacro %}
