{% macro ProviderData() -%}

title: Provider Data
type: object
x-calm-dsl-type: object
properties:
  provider_type:
    type: string
  account_reference:
    type: object
    x-calm-dsl-type: object
    properties:
      kind:
        type: string
      name:
        type: string
      uuid:
        type: string
  
{%- endmacro %}



{% macro AhvProjectSpec() -%}

title: Project Resources Spec
type: object
x-calm-dsl-type: app_ahv_project
properties:
  provider_list:
    type: array
    items:
      {{ ProviderData() | indent(6) }}

{%- endmacro %}


{% macro AhvProjectSchema() -%}

AhvProject:
  {{ AhvProjectSpec() | indent(2) }}

{%- endmacro %}
