{% macro AhvAccountSpec() -%}

title: AhvAccountSpec
type: object
x-calm-dsl-type: ahv_account_spec
properties:
  server:
    type: string
  username:
    type: string
  password:
    type: string
  port:
    type: integer

{%- endmacro %}


{% macro AhvAccountSpecSchema() -%}

AhvAccountSpec:
  {{ AhvAccountSpec()|indent(2) }}

{%- endmacro %}
