{% macro AwsAccountSpec() -%}

title: AwsAccountSpec
type: object
x-calm-dsl-type: aws_account_spec
properties:
  regions:
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        name:
          type: string
        images:
          type: array
          items:
            type: object
            x-calm-dsl-type: object
            properties:
              image_id:
                type: string
              name:
                type: string
              root_device_name:
                type: string
  access_key_id:
    type: string
  secret_access_key:
    type: string

{%- endmacro %}


{% macro AwsAccountSpecSchema() -%}

AwsAccountSpec:
  {{ AwsAccountSpec()|indent(2) }}

{%- endmacro %}
