{% macro AwsEc2AccountSpec() -%}

title: AwsEc2AccountSpec
type: object
x-calm-dsl-type: aws_ec2_account_spec
properties:
  regions:
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        name:
          type: string
        images:
          type: array
          items:
            type: string
  access_key_id:
    type: string
  secret_access_key:
    type: string

{%- endmacro %}


{% macro AwsEc2AccountSpecSchema() -%}

AwsEc2AccountSpec:
  {{ AwsEc2AccountSpec()|indent(2) }}

{%- endmacro %}
