{% macro BlueprintPayload() -%}

title: BlueprintPayload
type: object
x-calm-dsl-type: app_blueprint_payload
properties:
  spec:
    type: object
    x-calm-dsl-type: dict
    properties:
      name:
        type: string
        description: Blueprint name
      description:
        type: string
        description: Blueprint description
      resources:
        type: object
        properties:
          $ref: '#/components/schemas/Blueprint'

  api_version:
    type: string
    default: "3.0"

  metadata:   # TODO - add other fields including categories, etc
    $ref: '#/components/schemas/Metadata'

{%- endmacro %}


{% macro BlueprintPayloadSchema() -%}

BlueprintPayload:
  {{ BlueprintPayload()|indent(2) }}

{%- endmacro %}
