{% import "ref.yaml.jinja2" as ref %}

{% macro Blueprint() -%}

title: Blueprint
type: object
x-calm-dsl-type: app_blueprint
properties:
  type:
    type: string
    default: 'USER'
  service_definition_list:
    x-calm-dsl-display-name: services
    description: Service definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Service'
  package_definition_list:
    x-calm-dsl-display-name: packages
    description: Package definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Package'
  published_service_definition_list:
    x-calm-dsl-display-name: published_services
    description: Published Service defination for K8S pods
    type: array
    items:
      $ref: '#/components/schemas/PublishedService'
  substrate_definition_list:
    x-calm-dsl-display-name: substrates
    description: Substrate definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Substrate'
  credential_definition_list:
    x-calm-dsl-display-name: credentials
    description: Credential definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Credential'
  app_profile_list:
    x-calm-dsl-display-name: profiles
    description: App profile definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Profile'
  client_attrs:
    type: object
    additionalProperties: true
    x-calm-dsl-type: dict
  default_credential_local_reference:
    x-calm-dsl-display-name: default_cred
    {{ ref.Ref() | indent(4) }}

{%- endmacro %}


{% macro BlueprintSchema() -%}

Blueprint:
  {{ Blueprint()|indent(2) }}

{%- endmacro %}
