{% macro CredAccount() -%}

title: CredAccount
type: object
x-calm-dsl-type: app_credential_provider_account
properties:
    auth_schema_list:
        type: array
        items:
            $ref: '#/components/schemas/Variable'
        x-calm-dsl-display-name: auth_schemas
    resource_config:
        $ref: '#/components/schemas/CredAccountResources'

{%- endmacro %}
{% macro CredAccountSchema() -%}

CredAccount:
  {{ CredAccount()|indent(2) }}

{%- endmacro %}
