{% macro Credential() -%}

title: Credential
type: object
x-calm-dsl-type: app_credential
properties:
  name:
    type: string
  description:
    type: string
  type:
    type: string
    default: 'PASSWORD'
  username:
    type: string
  resource_type_reference:
    x-calm-dsl-display-name: resource_type
    description: Resource type reference for credentials.
    x-calm-dsl-type: app_calm_ref
    type: object
    x-calm-dsl-min-version: 3.4.0
    x-calm-dsl-default-required: false
  account_reference:
    x-calm-dsl-display-name: account
    description: Account reference for credentials.
    x-calm-dsl-type: app_calm_ref
    type: object
    x-calm-dsl-min-version: 3.4.0
    x-calm-dsl-default-required: false
  secret:
    type: object
    additionalProperties: true
    x-calm-dsl-type: dict
    default: {"attrs": {"is_secret_modified": False}, "value": ""}
  passphrase:
    type: object
    x-calm-dsl-type: dict
    x-calm-dsl-default-required: false
    default: {"attrs": {"is_secret_modified": False}, "value": ""}
  variable_list:
    type: array
    x-calm-dsl-min-version: 3.4.0
    x-calm-dsl-default-required: false
    items:
      $ref: '#/components/schemas/Variable'
  cred_class:
    type: string
    x-calm-dsl-min-version: 3.4.0
    default: 'static'
  default:
    type: boolean
    default: false
  editables:
    type: object
    x-calm-dsl-type: object
    properties:
      username:
        type: boolean
      secret:
        type: boolean
      resource_type_reference:
        type: boolean
        x-calm-dsl-min-version: 3.4.0
        x-calm-dsl-default-required: false

{%- endmacro %}


{% macro CredentialSchema() -%}

Credential:
  {{ Credential()|indent(2) }}

{%- endmacro %}
