{% macro CredAccountResources() -%}

title: CredAccountResources
type: object
x-calm-dsl-type: app_credential_provider_resources
properties:
    variables:
        type: array
        items:
            $ref: '#/components/schemas/Variable'
    cred_attrs:
        type: array
        items:
            $ref: '#/components/schemas/Variable'
    action_list:
        x-calm-dsl-display-name: actions
        type: array
        items:
            $ref: '#/components/schemas/Action'
    

{%- endmacro %}
{% macro CredAccountResourcesSchema() -%}

CredAccountResources:
  {{ CredAccountResources()|indent(2) }}

{%- endmacro %}
