{% macro Credential() -%}

title: Credential
type: object
x-calm-dsl-type: app_credential
properties:
  name:
    type: string
  description:
    type: string
  type:
    type: string
    default: 'PASSWORD'
  username:
    type: string
  secret:
    type: object
    additionalProperties: true
    x-calm-dsl-type: dict
    default: {"attrs": {"is_secret_modified": False}, "value": ""}
  default:
    type: boolean
    default: false
  editables:
    type: object
    x-calm-dsl-type: object
    properties:
      username:
        type: boolean
      secret:
        type: boolean

{%- endmacro %}


{% macro CredentialSchema() -%}

Credential:
  {{ Credential()|indent(2) }}

{%- endmacro %}
