{% import "ref.yaml.jinja2" as ref %}

{% macro Deployment() -%}

title: Deployment
type: object
x-calm-dsl-type: deployment
properties:
  package_reference_list:
    x-calm-dsl-display-name: packages
    type: array
    items:
      $ref: '#/components/schemas/Ref'
  substrate_local_reference:
    x-calm-dsl-display-name: substrate
    {{ ref.Ref() | indent(4) }}
  min_replicas:
    description: Minimum replicas for the deployment.
    type: string
    default: "1"
  max_replicas:
    description: Maximum replicas for the deployment.
    type: string
    default: "1"
  type:
    type: string
    default: 'GREENFIELD'

{%- endmacro %}


{% macro DeploymentSchema() -%}

Deployment:
  {{ Deployment()|indent(2) }}

{%- endmacro %}
