{% import "ref.yaml.jinja2" as ref %}

{% macro Deployment() -%}

title: Deployment
type: object
x-calm-dsl-type: app_blueprint_deployment
properties:
  published_service_local_reference_list:
    x-calm-dsl-display-name: published_services
    type: array
    items:
      $ref: '#/components/schemas/Ref'
  package_local_reference_list:
    x-calm-dsl-display-name: packages
    type: array
    items:
      $ref: '#/components/schemas/Ref'
  substrate_local_reference:
    x-calm-dsl-display-name: substrate
    {{ ref.Ref() | indent(4) }}
  depends_on_list:
    x-calm-dsl-display-name: dependencies
    type: array
    items:
      $ref: '#/components/schemas/Ref'
  min_replicas:
    description: Minimum replicas for the deployment.
    type: string
    default: "1"
  max_replicas:
    description: Maximum replicas for the deployment.
    type: string
    default: "1"
  type:
    type: string
    default: 'GREENFIELD'
  name:
    type: string
  options:
    x-calm-dsl-type: dict
    type: object
  description:
    type: string

{%- endmacro %}


{% macro DeploymentSchema() -%}

Deployment:
  {{ Deployment()|indent(2) }}

{%- endmacro %}
