{% macro Deployment() -%}

title: Deployment
type: object
x-calm-dsl-type: deployment
properties:
  service_reference_list:
    type: array
    items:
      $ref: '#/components/schemas/Ref'
  substrate_reference:
    $ref: '#/components/schemas/Ref'
  min_replicas:
    description: Minimum replicas for the deployment.
    type: string
    default: "1"
  max_replicas:
    description: Maximum replicas for the deployment.
    type: string
    default: "1"
  type:
    type: string
    default: 'GREENFIELD'

{%- endmacro %}


{% macro DeploymentSchema() -%}

Deployment:
  {{ Deployment()|indent(2) }}

{%- endmacro %}
