{% macro EnvironmentProviderData() -%}

title: Environment Provider Data
type: object
x-calm-dsl-type: object
properties:
  type:
    type: string
  account_reference:
    type: object
    x-calm-dsl-type: object
    properties:
      kind:
        type: string
      name:
        type: string
      uuid:
        type: string
  subnet_reference_list:
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        kind:
          type: string
        name:
          type: string
        uuid:
          type: string
  external_network_list:
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        kind:
          type: string
        name:
          type: string
        uuid:
          type: string
  default_subnet_reference:
    type: object
    x-calm-dsl-type: object
    properties:
      kind:
        type: string
      name:
        type: string
      uuid:
        type: string
required:
  - account_reference
  - type
{%- endmacro %}

{% macro Environment() -%}

title: Environment
type: object
x-calm-dsl-type: environment
properties:
  substrate_definition_list:
    x-calm-dsl-display-name: substrates
    description: Substrate definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Substrate'
  credential_definition_list:
    x-calm-dsl-display-name: credentials
    description: Credential definitions for blueprint.
    type: array
    items:
      $ref: '#/components/schemas/Credential'
  infra_inclusion_list:
    x-calm-dsl-min-version: 3.2.0
    x-calm-dsl-display-name: providers
    description: Accounts and resources under this environment.
    type: array
    items:
      {{ EnvironmentProviderData() | indent(6) }}

{%- endmacro %}


{% macro EnvironmentSchema() -%}

Environment:
  {{ Environment()|indent(2) }}

{%- endmacro %}
