{% import "port.yaml.jinja2" as port %}
{% import "service.yaml.jinja2" as service %}
{% import "substrate.yaml.jinja2" as substrate %}
{% import "deployment.yaml.jinja2" as deployment %}
{% import "profile.yaml.jinja2" as profile %}
{% import "blueprint.yaml.jinja2" as blueprint %}
{% import "ref.yaml.jinja2" as ref %}
{% import "variable.yaml.jinja2" as variable %}
{% import "package.yaml.jinja2" as package %}

{% macro Schemas() -%}

{{ port.PortSchema() }}
{{ service.ServiceSchema() }}
{{ substrate.SubstrateSchema() }}
{{ deployment.DeploymentSchema() }}
{{ profile.ProfileSchema() }}
{{ blueprint.BlueprintSchema() }}
{{ ref.RefSchema() }}
{{ variable.VariableSchema() }}
{{ package.PackageSchema() }}

{%- endmacro %}


info:
  title: Calm v3 API schema with calm.dsl extenstions.
  description: Latest stable calm schemas. Later to be obtained from the openapi spec.
  version: 2.6.0

components:
  schemas:
    {{ Schemas()|indent(4) }}
