{% import "port.yaml.jinja2" as port %}
{% import "service.yaml.jinja2" as service %}
{% import "provider_spec.yaml.jinja2" as provider_spec %}
{% import "substrate.yaml.jinja2" as substrate %}
{% import "deployment.yaml.jinja2" as deployment %}
{% import "profile.yaml.jinja2" as profile %}
{% import "blueprint.yaml.jinja2" as blueprint %}
{% import "blueprint_payload.yaml.jinja2" as blueprint_payload %}
{% import "ref.yaml.jinja2" as ref %}
{% import "task_input.yaml.jinja2" as task_input %}
{% import "descriptor.yaml.jinja2" as descriptor %}
{% import "variable.yaml.jinja2" as variable %}
{% import "package.yaml.jinja2" as package %}
{% import "credential.yaml.jinja2" as credential %}
{% import "endpoint.yaml.jinja2" as endpoint %}
{% import "endpoint_payload.yaml.jinja2" as endpoint_payload %}
{% import "task.yaml.jinja2" as task %}
{% import "runbook.yaml.jinja2" as runbook %}
{% import "runbook_service.yaml.jinja2" as runbook_service %}
{% import "runbook_payload.yaml.jinja2" as runbook_payload %}
{% import "action.yaml.jinja2" as action %}
{% import "project.yaml.jinja2" as project %}
{% import "project_payload.yaml.jinja2" as project_payload %}
{% import "simple_deployment.yaml.jinja2" as simple_deployment %}
{% import "simple_blueprint.yaml.jinja2" as simple_blueprint %}
{% import "published_service.yaml.jinja2" as published_service %}
{% import "pod_deployment.yaml.jinja2" as pod_deployment %}
{% import "ahv_vm.yaml.jinja2" as ahv_vm %}
{% import "simple_pod_deployment.yaml.jinja2" as simple_pod_deployment %}
{% import "vm_disk_package.yaml.jinja2" as vm_disk_package %}
{% import "readiness_probe.yaml.jinja2" as readiness_probe %}
{% import "metadata.yaml.jinja2" as metadata %}
{% import "brownfield_vm.yaml.jinja2" as brownfield_vm %}
{% import "brownfield_deployment.yaml.jinja2" as brownfield_deployment %}
{% import "environment.yaml.jinja2" as environment %}
{% import "environment_payload.yaml.jinja2" as environment_payload %}


{% macro Schemas() -%}

{{ port.PortSchema() }}
{{ service.ServiceSchema() }}
{{ published_service.PublishedServiceSchema() }}
{{ provider_spec.ProviderSpecSchema() }}
{{ substrate.SubstrateSchema() }}
{{ deployment.DeploymentSchema() }}
{{ pod_deployment.PODDeploymentSchema() }}
{{ simple_pod_deployment.SimplePODDeploymentSchema() }}
{{ profile.ProfileSchema() }}
{{ blueprint.BlueprintSchema() }}
{{ blueprint_payload.BlueprintPayloadSchema() }}
{{ ref.RefSchema() }}
{{ task_input.TaskInputSchema() }}
{{ descriptor.DescriptorSchema() }}
{{ variable.VariableSchema() }}
{{ package.PackageSchema() }}
{{ credential.CredentialSchema() }}
{{ endpoint.EndpointSchema() }}
{{ endpoint_payload.EndpointPayloadSchema() }}
{{ task.TaskSchema() }}
{{ runbook.RunbookSchema() }}
{{ runbook_service.RunbookServiceSchema() }}
{{ runbook_payload.RunbookPayloadSchema() }}
{{ action.ActionSchema() }}
{{ project.ProjectSchema() }}
{{ project_payload.ProjectPayloadSchema() }}
{{ simple_deployment.SimpleDeploymentSchema() }}
{{ simple_blueprint.SimpleBlueprintSchema() }}
{{ ahv_vm.AhvVmSchema() }}
{{ vm_disk_package.VmDiskPackageSchema() }}
{{ readiness_probe.ReadinessProbeSchema() }}
{{ metadata.MetadataSchema() }}
{{ brownfield_vm.BrownfieldVmSchema() }}
{{ brownfield_deployment.BrownfieldDeploymentSchema() }}
{{ environment.EnvironmentSchema() }}
{{ environment_payload.EnvironmentPayloadSchema() }}

{%- endmacro %}


info:
  title: Calm v3 API schema with calm.dsl extenstions.
  description: Latest stable calm schemas. Later to be obtained from the openapi spec.
  version: 2.6.0

components:
  schemas:
    {{ Schemas()|indent(4) }}
