{% import "port.yaml.jinja2" as port %}
{% import "service.yaml.jinja2" as service %}
{% import "provider_spec.yaml.jinja2" as provider_spec %}
{% import "substrate.yaml.jinja2" as substrate %}
{% import "deployment.yaml.jinja2" as deployment %}
{% import "config_attrs.yaml.jinja2" as config_attrs %}
{% import "config_spec.yaml.jinja2" as config_spec %}
{% import "profile.yaml.jinja2" as profile %}
{% import "blueprint.yaml.jinja2" as blueprint %}
{% import "blueprint_payload.yaml.jinja2" as blueprint_payload %}
{% import "ref.yaml.jinja2" as ref %}
{% import "task_input.yaml.jinja2" as task_input %}
{% import "descriptor.yaml.jinja2" as descriptor %}
{% import "variable.yaml.jinja2" as variable %}
{% import "package.yaml.jinja2" as package %}
{% import "credential.yaml.jinja2" as credential %}
{% import "endpoint.yaml.jinja2" as endpoint %}
{% import "endpoint_payload.yaml.jinja2" as endpoint_payload %}
{% import "task.yaml.jinja2" as task %}
{% import "runbook.yaml.jinja2" as runbook %}
{% import "runbook_service.yaml.jinja2" as runbook_service %}
{% import "runbook_payload.yaml.jinja2" as runbook_payload %}
{% import "action.yaml.jinja2" as action %}
{% import "project.yaml.jinja2" as project %}
{% import "project_payload.yaml.jinja2" as project_payload %}
{% import "simple_deployment.yaml.jinja2" as simple_deployment %}
{% import "simple_blueprint.yaml.jinja2" as simple_blueprint %}
{% import "published_service.yaml.jinja2" as published_service %}
{% import "pod_deployment.yaml.jinja2" as pod_deployment %}
{% import "ahv_vm.yaml.jinja2" as ahv_vm %}
{% import "simple_pod_deployment.yaml.jinja2" as simple_pod_deployment %}
{% import "vm_disk_package.yaml.jinja2" as vm_disk_package %}
{% import "readiness_probe.yaml.jinja2" as readiness_probe %}
{% import "metadata.yaml.jinja2" as metadata %}
{% import "brownfield_vm.yaml.jinja2" as brownfield_vm %}
{% import "brownfield_deployment.yaml.jinja2" as brownfield_deployment %}
{% import "environment.yaml.jinja2" as environment %}
{% import "environment_payload.yaml.jinja2" as environment_payload %}
{% import "vm_profile.yaml.jinja2" as vm_profile %}
{% import "vm_blueprint.yaml.jinja2" as vm_blueprint %}
{% import "calm_ref.yaml.jinja2" as calm_ref %}
{% import "account_provider.yaml.jinja2" as account_provider %}
{% import "ahv_recovery_vm.yaml.jinja2" as ahv_recovery_vm %}
{% import "jobs.yaml.jinja2" as scheduler_job %}
{% import "jobexecutable.yaml.jinja2" as job_executable %}
{% import "jobscheduleinfo.yaml.jinja2" as job_schedule %}
{% import "network_group_tunnel.yaml.jinja2" as network_group_tunnel %}
{% import "network_group_tunnel_payload.yaml.jinja2" as network_group_tunnel_payload %}
{% import "policy_action.yaml.jinja2" as policy_action %}
{% import "policy_condition.yaml.jinja2" as policy_condition %}
{% import "policy.yaml.jinja2" as policy %}
{% import "approver_set.yaml.jinja2" as approver_set %}
{% import "policy_payload.yaml.jinja2" as policy_payload %}
{% import "credential_provider_resources.yaml.jinja2" as cred_provider_resources %}
{% import "credential_provider_account.yaml.jinja2" as cred_provider_account %}
{% import "custom_provider_account.yaml.jinja2" as custom_provider_resources %}
{% import "account.yaml.jinja2" as account %}
{% import "ahv_account.yaml.jinja2" as ahv_account %}
{% import "azure_account.yaml.jinja2" as azure_account %}
{% import "aws_account.yaml.jinja2" as aws_account %}
{% import "aws_c2s_account.yaml.jinja2" as aws_c2s_account %}
{% import "k8s_vanilla_account.yaml.jinja2" as k8s_vanilla_account %}
{% import "k8s_karbon_account.yaml.jinja2" as k8s_karbon_account %}
{% import "vmware_account.yaml.jinja2" as vmware_account %}
{% import "gcp_account.yaml.jinja2" as gcp_account %}
{% import "provider_endpoint_schema.yaml.jinja2" as provider_endpoint_schema %}
{% import "provider_test_account.yaml.jinja2" as provider_test_account %}
{% import "cloud_provider_payload.yaml.jinja2" as cloud_provider_payload %}
{% import "cloud_provider.yaml.jinja2" as cloud_provider %}
{% import "resource_type.yaml.jinja2" as resource_type %}
{% import "global_variable.yaml.jinja2" as global_variable %}
{% macro Schemas() -%}

{{ config_attrs.AhvDiskRulesetSchema() }}
{{ config_attrs.AhvNicRulesetSchema() }}
{{ config_attrs.PatchDataFieldSchema() }}
{{ config_attrs.ConfigAttrsSchema() }}
{{ config_spec.ConfigSpecSchema() }}
{{ port.PortSchema() }}
{{ service.ServiceSchema() }}
{{ published_service.PublishedServiceSchema() }}
{{ provider_spec.ProviderSpecSchema() }}
{{ substrate.SubstrateSchema() }}
{{ deployment.DeploymentSchema() }}
{{ pod_deployment.PODDeploymentSchema() }}
{{ simple_pod_deployment.SimplePODDeploymentSchema() }}
{{ profile.ProfileSchema() }}
{{ blueprint.BlueprintSchema() }}
{{ blueprint_payload.BlueprintPayloadSchema() }}
{{ ref.RefSchema() }}
{{ task_input.TaskInputSchema() }}
{{ descriptor.DescriptorSchema() }}
{{ variable.VariableSchema() }}
{{ package.PackageSchema() }}
{{ credential.CredentialSchema() }}
{{ endpoint.EndpointSchema() }}
{{ endpoint_payload.EndpointPayloadSchema() }}
{{ task.TaskSchema() }}
{{ runbook.RunbookSchema() }}
{{ runbook_service.RunbookServiceSchema() }}
{{ runbook_payload.RunbookPayloadSchema() }}
{{ action.ActionSchema() }}
{{ project.ProjectSchema() }}
{{ project_payload.ProjectPayloadSchema() }}
{{ simple_deployment.SimpleDeploymentSchema() }}
{{ simple_blueprint.SimpleBlueprintSchema() }}
{{ ahv_vm.AhvVmSchema() }}
{{ vm_disk_package.VmDiskPackageSchema() }}
{{ readiness_probe.ReadinessProbeSchema() }}
{{ metadata.MetadataSchema() }}
{{ brownfield_vm.BrownfieldVmSchema() }}
{{ brownfield_deployment.BrownfieldDeploymentSchema() }}
{{ environment.EnvironmentSchema() }}
{{ environment_payload.EnvironmentPayloadSchema() }}
{{ vm_profile.VmProfileSchema() }}
{{ vm_blueprint.VmBlueprintSchema() }}
{{ calm_ref.CalmRefSchema() }}
{{ account_provider.AccountProviderSchema() }}
{{ ahv_recovery_vm.AhvRecoveryVmSchema() }}
{{ job_executable.JobExecutableSchema() }}
{{ job_schedule.JobScheduleInfoSchema() }}
{{ scheduler_job.SchedulerJobSchema() }}
{{ network_group_tunnel.NetworkGroupTunnelVMSpecSchema() }}
{{ network_group_tunnel.NetworkGroupTunnelSchema() }}
{{ network_group_tunnel_payload.NetworkGroupTunnelPayloadSchema() }}
{{ network_group_tunnel_payload.NetworkGroupTunnelVMPayloadSchema() }}
{{ policy_condition.PolicyConditionSchema() }}
{{ policy_action.PolicyActionSchema() }}
{{ policy.PolicySchema() }}
{{ approver_set.ApproverSetSchema() }}
{{ policy_payload.PolicyPayloadSchema() }}
{{ cred_provider_resources.CredAccountResourcesSchema() }}
{{ cred_provider_account.CredAccountSchema() }}
{{ custom_provider_resources.CustomProviderAccountResourcesSchema() }}
{{ account.AccountSchema() }}
{{ ahv_account.AhvAccountSchema() }}
{{ azure_account.AzureAccountSchema() }}
{{ aws_account.AwsAccountSchema() }}
{{ aws_c2s_account.AwsC2SAccountSchema() }}
{{ k8s_vanilla_account.K8sVanillaAccountSchema() }}
{{ k8s_karbon_account.K8sKarbonAccountSchema() }}
{{ vmware_account.VmwareAccountSchema() }}
{{ gcp_account.GcpAccountSchema() }}
{{ provider_endpoint_schema.ProviderEndpointSchemaDefinition() }}
{{ provider_test_account.ProviderTestAccountDefinition() }}
{{ resource_type.ResourceTypeSchema() }}
{{ cloud_provider_payload.CloudProviderPayloadSchema() }}
{{ cloud_provider.CloudProviderSchema() }}
{{ global_variable.GlobalVariableSchema() }}

{%- endmacro %}


info:
  title: Calm v3 API schema with calm.dsl extenstions.
  description: Latest stable calm schemas. Later to be obtained from the openapi spec.
  version: 2.6.0

components:
  schemas:
    {{ Schemas()|indent(4) }}
