{% macro Port() -%}

title: Port
type: object
x-calm-dsl-type: app_port
properties:
  target_port:
    type: string
  protocol:
    type: string
    default: 'SSH'
  endpoint_name:
    type: string
    default: ''
  exposed_address:
    type: string
    default: ''
  exposed_port:
    type: string
    default: ''

{%- endmacro %}


{% macro PortSchema() -%}

Port:
  {{ Port()|indent(2) }}

{%- endmacro %}
