{% macro Profile() -%}

title: Profile
type: object
x-calm-dsl-type: app_profile
properties:
  name:
    type: string
  description:
    type: string
  # description attribute in profile gives bp launch error: https://jira.nutanix.com/browse/CALM-19380
  environment_reference_list:
    type: array
    x-calm-dsl-min-version: 3.2.0
    x-calm-dsl-display-name: environments
    items:
      type: object
      x-calm-dsl-type: app_calm_ref
  deployment_create_list:
    x-calm-dsl-display-name: deployments
    type: array
    items:
      $ref: '#/components/schemas/Deployment'
  variable_list:
    x-calm-dsl-display-name: variables
    type: array
    items:
      $ref: '#/components/schemas/Variable'
  patch_list:
    x-calm-dsl-min-version: 3.3.0
    x-calm-dsl-display-name: patch_list
    type: array
    items:
      $ref: '#/components/schemas/ConfigSpec'

  action_list:
    x-calm-dsl-display-name: actions
    type: array
    items:
      $ref: '#/components/schemas/Action'
  snapshot_config_list:
    x-calm-dsl-display-name: snapshot_configs
    x-calm-dsl-min-version: 3.3.0
    type: array
    items:
      $ref: '#/components/schemas/ConfigSpec'
  restore_config_list:
    x-calm-dsl-display-name: restore_configs
    x-calm-dsl-min-version: 3.3.0
    type: array
    items:
      $ref: '#/components/schemas/ConfigSpec'
{%- endmacro %}


{% macro ProfileSchema() -%}

Profile:
  {{ Profile()|indent(2) }}

{%- endmacro %}
