{% macro ProviderData() -%}

title: Provider Data
type: object
x-calm-dsl-type: object
properties:
  provider_type:
    type: string
  account_reference:
    type: object
    x-calm-dsl-type: object
    properties:
      kind:
        type: string
      name:
        type: string
      uuid:
        type: string
  subnet_reference_list:
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        kind:
          type: string
        name:
          type: string
        uuid:
          type: string
  external_network_list:
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        kind:
          type: string
        name:
          type: string
        uuid:
          type: string   
  default_subnet_reference:
    type: object
    x-calm-dsl-type: object
    properties:
      kind:
        type: string
      name:
        type: string
      uuid:
        type: string
  
{%- endmacro %}



{% macro ProjectSpec() -%}

title: Project Spec
type: object
x-calm-dsl-type: project
properties:
  provider_list:
    x-calm-dsl-display-name: providers
    type: array
    items:
      {{ ProviderData() | indent(6) }}
  
  user_reference_list:
    x-calm-dsl-display-name: users
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        kind:
          type: string
        name:
          type: string
        uuid:
          type: string

  external_user_group_reference_list:
    x-calm-dsl-display-name: groups
    type: array
    items:
      type: object
      x-calm-dsl-type: object
      properties:
        kind:
          type: string
        name:
          type: string
        uuid:
          type: string

{%- endmacro %}


{% macro ProjectSchema() -%}

Project:
  {{ ProjectSpec() | indent(2) }}

{%- endmacro %}
