{% macro Service() -%}

title: Service
type: object
x-calm-dsl-type: service
properties:
  name:
    type: string
    maxLength: 64
    default: ''
  description:
    type: string
    maxLength: 1000
    default: ''
  port_list:
    x-calm-dsl-display-name: ports
    type: array
    items:
      $ref: '#/components/schemas/Port'
    default: []
  singleton:
    type: boolean
    default: False
  tier:
    type: string
    default: ''

{%- endmacro %}


{% macro ServiceSchema() -%}

Service:
  {{ Service()|indent(2) }}

{%- endmacro %}
