{% macro Service() -%}

title: Service
type: object
x-calm-dsl-type: app_service
properties:
  name:
    type: string
    maxLength: 64
    default: ''
  description:
    type: string
    maxLength: 1000
    default: ''
  port_list:
    x-calm-dsl-display-name: ports
    type: array
    items:
      $ref: '#/components/schemas/Port'
    default: []
  singleton:
    type: boolean
    default: False
  tier:
    type: string
    default: ''
  depends_on_list:
    x-calm-dsl-display-name: dependencies
    type: array
    items:
      $ref: '#/components/schemas/Ref'
  variable_list:
    x-calm-dsl-display-name: variables
    type: array
    items:
      $ref: '#/components/schemas/Variable'
  action_list:
    x-calm-dsl-display-name: actions
    type: array
    items:
      $ref: '#/components/schemas/Action'
  container_spec:
    x-calm-dsl-type: dict
    type: object

{%- endmacro %}


{% macro ServiceSchema() -%}

Service:
  {{ Service()|indent(2) }}

{%- endmacro %}
