{% macro SimpleProfile() -%}

title: SimpleProfile
type: object
x-calm-dsl-type: app_simple_profile
properties:

{%- endmacro %}


{% macro SimpleProfileSchema() -%}

SimpleProfile:
  {{ SimpleProfile()|indent(2) }}

{%- endmacro %}
