{% import "ref.yaml.jinja2" as ref %}

{% macro Substrate() -%}

title: Substrate
type: object
x-calm-dsl-type: app_substrate
properties:
  name:
    type: string
    maxLength: 64
    default: ''
  description:
    type: string
    maxLength: 1000
    default: ''
  type:
    x-calm-dsl-display-name: provider_type
    type: string
    default: 'AHV_VM'
  os_type:
    type: string
    default: 'Linux'
  create_spec:
    x-calm-dsl-display-name: provider_spec
    type: object
    x-calm-dsl-type: app_provider_spec
  variable_list:
    x-calm-dsl-display-name: variables
    type: array
    items:
      $ref: '#/components/schemas/Variable'
  action_list:
    x-calm-dsl-display-name: actions
    type: array
    items:
      $ref: '#/components/schemas/Action'
  readiness_probe:
    type: object
    x-calm-dsl-type: object
    properties:
      connection_type:
        type: string
        default: SSH
        enum: [SSH, POWERSHELL]
      connection_port:
        type: integer
        default: 22
      connection_protocol:
        type: string
      login_credential_local_reference:
        x-calm-dsl-display-name: credential
        {{ ref.Ref() | indent(8) }}
      timeout_secs:
        type: string
      delay_secs:
        type: string
        default: "60"
      retries:
        type: string
        default: "5"
      address:
        type: string
      disable_readiness_probe:
        x-calm-dsl-display-name: disabled
        default: false
        type: boolean

{%- endmacro %}


{% macro SubstrateSchema() -%}

Substrate:
  {{ Substrate()|indent(2) }}

{%- endmacro %}
