{% macro Substrate() -%}

title: Substrate
type: object
x-calm-dsl-type: app_substrate
properties:
  name:
    type: string
    maxLength: 64
    default: ''
  description:
    type: string
    maxLength: 1000
    default: ''
  type:
    type: string
    default: 'AHV_VM'
  os_type:
    type: string
    default: 'LINUX'
  create_spec:
    type: object
    x-calm-dsl-type: dict
    default: {}
  platform_data:
    type: string
    default: ''
  variable_list:
    x-calm-dsl-display-name: variables
    type: array
    items:
      $ref: '#/components/schemas/Variable'
  action_list:
    # TODO - add action schema
    x-calm-dsl-display-name: actions
    type: array
    items:
      additionalProperties: true
      type: object
      x-calm-dsl-type: dict

{%- endmacro %}


{% macro SubstrateSchema() -%}

Substrate:
  {{ Substrate()|indent(2) }}

{%- endmacro %}
