{% import "ref.yaml.jinja2" as ref %}

{% macro Substrate() -%}

title: Substrate
type: object
x-calm-dsl-type: app_substrate
properties:
  name:
    type: string
    maxLength: 64
    default: ''
  description:
    type: string
    maxLength: 1000
    default: ''
  type:
    x-calm-dsl-display-name: provider_type
    type: string
    default: 'AHV_VM'
  os_type:
    type: string
    default: 'Linux'
  create_spec:
    x-calm-dsl-display-name: provider_spec
    type: object
    x-calm-dsl-type: app_provider_spec
  credential:
    # TODO: Remove this, add readiness probe
    {{ ref.Ref() | indent(4) }}
  variable_list:
    x-calm-dsl-display-name: variables
    type: array
    items:
      $ref: '#/components/schemas/Variable'
  action_list:
    # TODO - add action schema
    x-calm-dsl-display-name: actions
    type: array
    items:
      additionalProperties: true
      type: object
      x-calm-dsl-type: dict

{%- endmacro %}


{% macro SubstrateSchema() -%}

Substrate:
  {{ Substrate()|indent(2) }}

{%- endmacro %}
