
{% macro VcenterNicInfo() -%}

title: VCenter NICs
type: [object, "null"]
properties:
  nic_type:
    type: string
  net_name:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro VcenterTemplateNicInfo() -%}

title: VCenter Template NIC
type: [object, "null"]
properties:
  nic_type:
    type: string
  net_name:
    type: string
  is_deleted:
    type: boolean
    default: False
  key:
    type: integer
    default: -1
  type:
    type: string

{%- endmacro %}


{% macro VcenterVdiskInfo() -%}

title: VCenter Disk
type: [object, "null"]
properties:
  disk_type:
    type: string
    default: disk
  adapter_type:
    type: string
    default: SCSI
  disk_size_mb:
    type: ["integer", "null"]
  disk_mode:
    type: string
    default: "persistent"
  location:
    type: string
    default: ""
  controller_key:
    type: integer
  device_slot:
    type: ["integer", "string"]
  iso_path:
    type: string
    default: ""
  type:
    type: string

{%- endmacro %}


{% macro VcenterTemplateDiskInfo() -%}

title: VCenter Template DISK
type: [object, "null"]
properties:
  disk_type:
    type: string
    default: disk
  adapter_type:
    type: string
    default: SCSI
  disk_size_mb:
    type: ["integer", "null"]
  disk_mode:
    type: string
  location:
    type: string
    default: ""
  controller_key:
    type: integer
    default: -1
  device_slot:
    type: ["integer", "string"]
    default: -1
  iso_path:
    type: string
    default: ""
  is_deleted:
    type: boolean
    default: False
  key:
    type: integer
  type:
    type: string

{%- endmacro %}


{% macro VcenterVControllerInfo() -%}

title: VCenter Controller
type: [object, "null"]
properties:
  controller_type:
    type: string
  key:
    type: integer
    default: -1
  bus_sharing:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro VcenterTemplateControllerInfo() -%}

title: VCenter Template Controller
type: [object, "null"]
properties:
  controller_type:
    type: string
  key:
    type: integer
  bus_sharing:
    type: string
  is_deleted:
    type: boolean
    default: False
  type:
    type: string

{%- endmacro %}


{% macro VcenterNetworkSetting() -%}

title: Guest Customization Network Settings
type: [object, "null"]
properties:
  name:
    type: string
  subnet_mask:
    type: string
  gateway_default:
    type: string
  gateway_alternate:
    type: string
  is_dhcp:
    type: boolean
  ip:
    type: string
  type:
    type: string

{%- endmacro %}


{% macro VcenterLinuxSpecInfo() -%}

title: Guest Customization Linux data
type: [object, "null"]
properties:
  hostname:
    type: string
  domain:
    type: string
  timezone:
    type: string
  hw_utc_clock:
    type: boolean
  dns_primary:
    type: string
  dns_secondary:
    type: string
  dns_tertiary:
    type: string
  dns_search_path:
    type: array
    items:
      type: string
  network_settings:
    type: array
    items:
      {{ VcenterNetworkSetting() | indent(6) }}
  type:
    type: string

{%- endmacro %}


{% macro VcenterWindowsSysprep() -%}

title:  VMWARE Windoes Guest Customization Sysprep
type: [object, "null"]
properties:
  unattend_xml:
    type: string
  is_domain:
    type: boolean
  domain:
    type: string
  dns_ip:
    type: string
  dns_search_path:
    type: string
  domain_credential_reference:
    type: [object, "null"]
    properties:
      uuid:
        type: string
      kind:
        type: string
        default: subnet
      name:
        type: string
      type:
        type: string
  type:
    type: string

{%- endmacro %}


{% macro VcenterWindowsSpecInfo() -%}

title: Guest Customization Windows data
type: [object, "null"]
properties:
  computer_name:
    type: string
  product_id:
    type: string
  full_name:
    type: string
  organization_name:
    type: string
  workgroup:
    type: string
  timezone:
    type: string
  is_domain:
    type: boolean
  domain:
    type: string
  domain_user:
    type: string
  command_list:
    type: array
    items:
      type: string
  dns_primary:
    type: string
  dns_secondary:
    type: string
  dns_tertiary:
    type: string
  dns_search_path:
    type: array
    items:
      type: string
  network_settings:
    type: array
    items:
      {{ VcenterNetworkSetting() | indent(6) }}
  auto_logon:
    type: boolean
    default: False
  login_count:
    type: integer
    default: 1
  type:
    type: string
  password:
    type: [object, "null"]
    properties:
      attrs:
        type: [object, "null"]
        properties:
          is_secret_modified:
            type: boolean
            default: False
          secret_reference:
            type: [object, "null"]
            default: {}
          type:
            type: string
      value:
        type: string
      type:
        type: string
  domain_password:
    type: [object, "null"]
    properties:
      attrs:
        type: [object, "null"]
        properties:
          is_secret_modified:
            type: boolean
            default: False
          secret_reference:
            type: [object, "null"]
            default: {}
          type:
            type: string
      value:
        type: string
      type:
        type: string
  sysprep:
    {{ VcenterWindowsSysprep() | indent(4) }}

{%- endmacro %}


{% macro VcenterGuestCustomization() -%}

title:  VMWARE Guest Customization
type: [object, "null"]
properties:
  customization_type:
    type: string
    enum:
    - GUEST_OS_LINUX
    - GUEST_OS_WINDOWS
  cloud_init:
    type: string
  customization_name:
    type: string
  linux_data:
    {{ VcenterLinuxSpecInfo() | indent(4) }}
  windows_data:
    {{ VcenterWindowsSpecInfo() | indent(4) }}
  type:
    type: string

{%- endmacro %}

{% macro VcenterLibrary() -%}

title:  VMWARE Content Library
type: [object, "null"]
properties:
  library_id:
    type: string
  library_template_id:
    type: string
  library_template_type:
    type: string
  type:
    type: string

{%- endmacro %}

{% macro VcenterFolder() -%}

title:  VMWARE Folder
type: [object, "null"]
properties:
  existing_path:
    type: string
  new_path:
    type: string
  delete_empty_folder:
    type: boolean
  type:
    type: string

{%- endmacro %}

{% macro VcenterTags() -%}

title:  VMWARE Tags
type: [object, "null"]
properties:
  tag_id:
    type: string
  type:
    type: string

{%- endmacro %}

{% macro VcenterVMResource() -%}

title: VMWARE Resources
type: [object, "null"]
properties:
  account_uuid:
    type: string
  cpu_hot_add:
    type: boolean
  num_vcpus_per_socket:
    type: integer
    default: 0
  num_sockets:
    type: integer
    default: 0
  memory_hot_plug:
    type: boolean
  memory_size_mib:
    type: integer
    default: 0
  power_state:
    type: string
    default: poweron
  type:
    type: string
  nic_list:
    type: array
    items:
      {{ VcenterNicInfo() | indent(6) }}
  disk_list:
    type: array
    items:
      {{ VcenterVdiskInfo() | indent(6) }}
  controller_list:
    type: array
    items:
      {{ VcenterVControllerInfo() | indent(6) }}
  template_nic_list:
    type: array
    items:
      {{ VcenterTemplateNicInfo() | indent(6) }}
  tag_list:
    type: array
    items:
      {{ VcenterTags() | indent(6) }}
  template_disk_list:
    type: array
    items:
      {{ VcenterTemplateDiskInfo() | indent(6) }}
  template_controller_list:
    type: array
    items:
      {{ VcenterTemplateControllerInfo() | indent(6) }}
  guest_customization:
    {{ VcenterGuestCustomization() | indent(4) }}

{%- endmacro %}


{% macro VMWCreateSpec() -%}

title: VMWare CreateSpec
type: [object, "null"]
properties:
  name:
    type: string
  type:
    type: string
    enum: [PROVISION_VMWARE_VM, '']
    default: PROVISION_VMWARE_VM
  drs_mode:
    type: boolean
    default: False
  compute_drs_mode:
    type: boolean
    default: False
  storage_drs_mode:
    type: boolean
    default: False
  cluster:
    type: string
  template:
    type: string
  storage_pod:
    type: string
  host:
    type: string
  datastore:
    type: string
  clone_is_template:
    type: boolean
    default: False
  folder:
    {{ VcenterFolder() | indent(4) }}
  library:
    x-calm-dsl-min-version: 3.5.0
    {{ VcenterLibrary() | indent(4) }}
  resources:
    {{ VcenterVMResource() | indent(4) }}

{%- endmacro %}


info:
  title: VMWARE_VM
  description: VMWARE VM spec payload using v3 API
  version: 3.0.1      # TODO add right version of ahv schema

components:
  schemas:
    provider_spec:
      {{ VMWCreateSpec() | indent(6) }}
