{% macro EMCreateSpec() -%}
title: Existing Machine CreateSpec
type: object
properties:
  address:
    type: string
  type:
    type: string
    enum:
    - PROVISION_EXISTING_MACHINE

{%- endmacro %}

info:
  title: EXISTING_VM
  description: Existing machine
  version: 1.0.0

components:
  schemas:
    provider_spec:
      {{ EMCreateSpec() | indent(6) }}
