{% macro EMCreateSpec() -%}
title: Existing Machine CreateSpec
type: object
properties:
  type:
    type: string
    enum: [PROVISION_EXISTING_MACHINE, '']
    default: PROVISION_EXISTING_MACHINE
  address:
    type: string

{%- endmacro %}

info:
  title: EXISTING_VM
  description: Existing machine
  version: 1.0.0

components:
  schemas:
    provider_spec:
      {{ EMCreateSpec() | indent(6) }}
