
{% macro EMCreateSpec() -%}
title: Existing Machine CreateSpec
type: object
properties:
  type:
    type: string
  address:
    type: string

{%- endmacro %}


components:
  schemas:
    create_spec:
      {{ EMCreateSpec() | indent(6) }}
