name: Setup & build calm-dsl
on:
  workflow_dispatch

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      id: setup-python
      uses: actions/setup-python@v3
      with:
        python-version: 3.7
    - name: black
      if: steps.setup-python.outputs.python-version != 3.7
      uses: psf/black@stable # Exclude list is not honored - https://github.com/psf/black/issues/1584
      with:
        version: "22.6.0"
        options: "--check --extend-exclude tests/escript/scripts/"
    - name: Setup env
      run: |
        python -m pip install --upgrade pip
        pip install virtualenv
    - name: Install requirements
      run: |
        make dev
    - name: Build python package
      run: |
        make dist
    - name: Build docker image
      run: |
        make docker
    - name: Execute container
      uses: addnab/docker-run-action@v3
      with:
        image: ntnx/calm-dsl
        run: calm
